<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Calculadora FM</title>
</head>
<body>
    <a href="/templates/listar.html">Listar</a>
    <form action="cadastrar" method="post">
        <label for="nome_aluno">Nome:</label>
        <input type="text" id="nome_aluno" name="nome_aluno">
        <label for="email_aluno">Email:</label>
        <input type="text" id="email_aluno" name="email_aluno">
        <label for="endereco_aluno">Endereço:</label>
        <input type="text" id="endereco_aluno" name="endereco_aluno">
        <input type="submit" id="submit" name="submit">
      </form>
</body>
</html>